
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  color: aliceblue;
  width: 70%;
  text-align: center;
}


.card {
  padding: 50px;
  outline: 1px solid;
  margin: 20px 0;
  cursor: pointer;
}
